<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <title>Exercise Tracker</title>
     <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
     <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <main>
       <h1>Exercise Tracker</h1>

       <!-- React component for creating a new user. -->
       <div id='create-user-form'></div>

       <!-- React component for adding an exercise. -->
       <div id='add-exercise-form'></div>

       <!-- React component for getting all users. -->
       <div id='get-users-form'></div>

       <!-- React component for getting a user's exercise log. -->
       <div id='get-exercises-form'></div>
     </main>

     <script src="index.js"></script>

   </body>
</html>
