
* {
  box-sizing: border-box;
}

:root {
  --background-yellow: #FFFEC4;
  --background-green: #87D37C;
  --background-gray: #f5f5f5;
  --input-padding: 0.3rem;
  --button-padding: 0.5em 0.4em 0.4em;
  --form-border-radius: 0.4em;
}

html {
  font-family: sans-serif;
  min-width: 320px;
}

body {
  margin: 1em;
  color: #222;
  background-color: var(--background-gray);
}

h1, h2, p {
  text-align: center;
}

p {
  margin: 1.45em 0;
}

footer {
  padding: 0 1em;
}

a {
	color: hsl(204deg 64% 40%);
}

a:visited {
	color: hsl(270deg 64% 30%);
}

form {
  padding: 0 1em;
  background-color: var(--background-green);
  margin: 1em auto;
  max-width: 38em;
  border: 1px solid darkgreen;
  border-radius: var(--form-border-radius);
}

/* Contains a <label> and an <input> field. */
div.input-container {
  margin: 0.5em auto;
  max-width: 26em;
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
  padding: var(--input-padding);
}

input {
  font-size: 1rem;
  padding: var(--input-padding);
  width: 60%;
  min-width: 12rem;
  max-width: 18rem;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
}

input[type=submit] {
  display: block;
  padding: var(--button-padding);
  min-width: 10em;
  max-width: 12em;
  margin: 1.2em auto;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--background-yellow);
}

/* Keyboard and mouse focus for all elements. */
:focus {
  outline: medium dashed black;
}

code {
  font-family: monospace;
  background-color: var(--background-yellow);
}

.code-inline {
  padding: 0.25em;
}

.code-block-container {
  background-color: var(--background-yellow);
  padding: 0.2em 0;
  margin: 1em 0;
  border-radius: var(--form-border-radius);
  overflow: auto;
}

.code-block {
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 1em;
  line-height: 1.5;
}

/*** Media Queries ***/

@media (min-width: 80em) {
  html {
    font-size: 1.2em;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 1.4em;
  }
}

@media (min-width: 120em) {
  html {
    font-size: 1.6em;
  }
}

@media (min-width: 140em) {
  html {
    font-size: 1.8em;
  }
}

@media (min-width: 160em) {
  html {
    font-size: 2em;
  }
}

@media (max-width: 32em) {
  /* Single-column layout. */
  div.input-container {
    flex-direction: column;
    align-items: center;
  }
}
