
* {
  box-sizing: border-box;
}

:root {
  --background-yellow: #FFFEC4;
  --background-green: #87D37C;
  --background-gray: #f5f5f5;
  --input-padding: 0.3rem;
  --button-padding: 0.4rem;
  --form-border-radius: 0.4rem;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
}

body {
  margin: 1rem;
  color: #222;
  background-color: var(--background-gray);
}

h1, h2, p {
  text-align: center;
}

p {
  margin: 1.45rem 0;
}

footer {
  padding: 0 1rem;
}

a {
	color: hsl(204deg 64% 40%);
}

a:visited {
	color: hsl(270deg 64% 30%);
}

form {
  padding: 0 1rem;
  background-color: var(--background-green);
  margin: 1rem auto;
  max-width: 600px;
  border: 1px solid darkgreen;
  border-radius: var(--form-border-radius);
}

/* Contains a <label> and an <input> field. */
div.input-container {
  margin: 0.5rem auto;
  max-width: 410px;
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
  padding: var(--input-padding);
}

input {
  font-size: 1rem;
  padding: var(--input-padding);
  width: 60%;
  max-width: 280px;
  border: 1px solid lightgrey;
  border-radius: 0.2em;
}

input[type=submit] {
  display: block;
  padding: var(--button-padding);
  max-width: 200px;
  margin: 1.2em auto;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--background-yellow);
}

code {
  font-family: monospace;
  background-color: var(--background-yellow);
}

.code-inline {
  padding: 0.25em;
}

.code-block-container {
  background-color: var(--background-yellow);
  padding: 0.2rem 0;
  margin: 1rem 0;
  border-radius: var(--form-border-radius);
}

.code-block {
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 1em;
  line-height: 1.5;
}

/*** Media Queries ***/

@media (max-width: 425px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 12px;
  }
}
